<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Commits</title>
</head>
<body>
    <ul>
        <% data.forEach(function(item, index) { %>
            <li>
                <p><%=item.author.name%></p>
                <p><%=item.author.email%></p>
                <p><%=item.message%></p>
                <p><%=item.id%></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>